:root{
	--mc: #536271;
	--sc: #d64933;
	--dc: #3e4c5e;
	--lc: #f3f5f7;
}


@font-face {
	font-family: Main;
	src: url("../font/20289.ttf");
}
@font-face {
	font-family: "Emerald Grey";
	src: url("../font/Emerald\ Grey.woff");
}

*, #menu > a{
	font-family: 'Main';
}
#about > h1{
	font-size: 36px;
	font-family: 'Arcade Interlaced', sans-serif !important;
}

#about > *{
	font-size: 18px;
	font-family: 'Renogare Soft', sans-serif;
	max-width: 1000px !important;
}

.row__about{
	display: none;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.row__about > span{
	padding: .25rem .5rem;
	margin: .25rem 0;
	border: 1px solid black;
	min-width: 45%;
}


#menu-toggler{
	display: none;
	float: right;
}
.w3-bar > span:first-child{
	text-align: center;
}

@media screen and (max-width: 600px) {
	#menu{
		display: none;
		width: 100%;
	}
	#menu > *{
		display: block;
		width: 100%;
	}
	#menu-toggler{
		display: block;
	}
	#about > *{
		max-width: 100%;
	}
	.row__about{
		display: flex;
	}
	#history{
		display: none;
	}
}
@media screen and (max-width: 1000px) {
	#history{
		width: 100%;
	}
}